body{
    margin:0;
    font-family:Arial, sans-serif;
    background-color:white;
}

/* Header */

header{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
}

.logo{
    width:100px;
    height:100px;
    margin-right:20px;
}

header h1{
    color:#C63D5A;
    font-size:50px;
}

/* Navigation */

nav{
    background-color:#8EF0D2;
    text-align:center;
    padding:20px;
}

nav a{
    text-decoration:none;
    color:blue;
    font-size:30px;
    margin:25px;
}

nav a:hover{
    text-decoration:underline;
}

/* Home */

.home{
    text-align:center;
    margin-top:40px;
}

.homeImage{
    width:400px;
    border-radius:10px;
}

/* Menu */

.menu{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    margin:30px;
}

.item{
    width:280px;
    border:1px solid black;
    padding:15px;
    text-align:center;
    background:white;
}

.item img{
    width:220px;
    height:220px;
}

.item input{
    width:60px;
}

/* Buttons */

button{
    background-color:#8EF0D2;
    border:1px solid black;
    padding:10px 20px;
    cursor:pointer;
}

button:hover{
    background-color:#70E3C2;
}

/* Cart */

.cart{
    width:700px;
    margin:auto;
}

table{
    width:100%;
    border-collapse:collapse;
}

table, th, td{
    border:1px solid black;
}

th{
    background:#8EF0D2;
    padding:10px;
}

td{
    padding:10px;
    text-align:center;
}

#total{
    text-align:right;
    color:#C63D5A;
}


input{
    padding:8px;
    width:200px;
}

#receipt{
    width:500px;
    margin:20px auto;
    border:1px solid black;
    padding:20px;
    background:white;
}



footer{
    margin-top:40px;
    background:#8EF0D2;
    text-align:center;
    padding:15px;
}


